  body {
    background-color: #FDFBF7;
    color: #222222;
    max-width: 560px;
    margin: 0 auto;
    font-size: large;
  }

  a {
    color: #0066CC;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: left;
  }

  li {
    margin-left: 10%;
  }