  body {
    background-color: #FDFBF7;
    color: #222222;
    max-width: 32rem;
    margin: 0 auto;
    font-family: monospace;
    font-size: clamp(0.8rem, 6vw, 1.2rem);
    line-height: 1;
  }

  a {
    color: #0066CC;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: left;
  }

  li {
    margin-left: 10%;
  }